.tip[data-v-46787d40]{position:absolute;top:0;left:0;z-index:1;font-size:13px;color:#fff;transform-origin:0 0;pointer-events:none;cursor:pointer}.container[data-v-46787d40]{width:100%;height:100%;overflow:hidden}
